<%= form_for([@show, @show.plays.build]) do |f| %>

  <div class="field">
    <%= f.label :improviser %><br>
    <%= f.collection_select( :improviser_id, Improviser.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
